<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/rent_car</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="com.yinlei.rentcar.bean.ActivityTable"/>
        <mapping class="com.yinlei.rentcar.bean.AdviseTable"/>
        <mapping class="com.yinlei.rentcar.bean.BrandCarTable"/>
        <mapping class="com.yinlei.rentcar.bean.CarStoreTable"/>
        <mapping class="com.yinlei.rentcar.bean.CarTable"/>
        <mapping class="com.yinlei.rentcar.bean.CityTable"/>
        <mapping class="com.yinlei.rentcar.bean.LocationTable"/>
        <mapping class="com.yinlei.rentcar.bean.OrderTable"/>
        <mapping class="com.yinlei.rentcar.bean.OtherServiceTable"/>
        <mapping class="com.yinlei.rentcar.bean.ProvinceTable"/>
        <mapping class="com.yinlei.rentcar.bean.ShareTable"/>
        <mapping class="com.yinlei.rentcar.bean.User"/>
        <mapping class="com.yinlei.rentcar.bean.UserTable"/>
        <mapping class="com.yinlei.rentcar.bean.VipTable"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>